.merchant {
  padding: 1rem;
}
.merchant-layout {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  column-gap: 2rem;
}

.merchant-layout-left {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
}

.merchant-layout-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.merchant-layout-col-2a {
  background-color: white;
  padding: 2rem;
}

.merchant-layout-col-2b {
  background-color: white;
  padding: 2rem;
}

.merchant-layout-container {
  margin-top: 1rem;
  background-color: white;
  padding: 2rem;
}

.merchant-layout-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.merchant-layout-text {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}

.merchant-layout-row {
  display: flex;
  justify-content: space-between;
}

.merchant-layout-table {
  width: 100%;
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
  margin-top: 1rem;
}

.merchant-layout-table-header,
.merchant-layout-table-data {
  border: 1px solid #f0f0f0;
  padding: 0.5rem;
  max-width: 10rem;
}

.merchant-layout-table-data {
  vertical-align: middle;
  text-align: center;
}
