.nav {
  position: sticky;
  z-index: 5;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 2px 5px #ebebeb;
  flex-wrap: wrap;
}
