.categoryProduct {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.categoryProduct-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.categoryProduct-header-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.categoryProduct-content {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  flex: 1;
}

.categoryProduct-category-filter,
.categoryProduct-price-filter,
.categoryProduct-rating-filter {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
}

.categoryProduct-layout > * {
  margin-right: 1rem;
}

.categoryProduct-sortby {
  margin-right: 1rem;
}

.categoryProduct-display-options {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.categoryProduct-right {
  padding: 1rem;
}

.categoryProduct-product-list {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  padding: 5rem;
  background-color: white;
  place-items: center;
  column-gap: 2rem;
}

.categoryProduct-pagination-cursor {
  display: flex;
  justify-content: flex-end;
}

.categoryProduct-pagination-cursor > a {
  padding: 0.5rem;
  background-color: #3bac44;
  color: white;
}
