.product-card {
  padding: 1rem;
  max-width: max-content;
}

.product-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card-image {
  border: 1px solid #eee;
  padding: 1rem;
}

.product-card-image > img {
  height: auto;
  max-width: 10rem;
}

.product-card-extra {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-card-price {
  color: #3bac44;
}
