* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9f7f2 !important;
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.show {
  display: flex !important;
}

.fa-stack {
  font-size: 6px;
  color: #fc0;
  margin: 5px 0px 7px 0px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  outline: none;
  border: none;
}

select {
  outline: none;
  border: none;
  background: none;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
